body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e9ecef;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: #0077b6;
  margin: 0 auto;
  border-bottom: none;
}

.navbar h1 {
  color: #caf0f8;
  text-align: left;
  text-shadow: #00b4d8;
  font-weight: bold;
  font-style: italic;
}

.navbar .navbar-list {
  margin-left: auto;
  text-align: center;
  text-decoration: none;
  box-shadow: #023e8a;
  text-decoration-color: #00b4d8;
  
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #caf0f8;
}

